body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
}

header nav {
  max-width: 1920px;
  background-color: #345765;
  display: flex;
  flex-direction: row-reverse;
}
header ul {
  display: flex;
  list-style: none;
  margin-right: 12rem;
}
header li a {
  color: white;
  text-decoration: none;
  padding: 3rem 2.5rem;
}

main {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
main h1 {
  color: #34A58A;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 7rem 0 3.5rem 0;
}
main img {
  max-width: 1400px;
  height: 560px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 7rem;
}
main p {
  max-width: 750px;
}
main h2 {
  color: #6B5B54;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}
main iframe {
  border-radius: 10px;
  border: 5px solid white;
  stroke: solid;
  margin-bottom: 10rem;
}
main div {
  display: flex;
  flex-direction: row;
}
main div div {
  display: flex;
  flex-direction: column;
}
main address a {
  color: #34A58A;
  text-decoration: none;
  font-weight: normal;
  font-style: none !important;
}
main section.lastNews {
  max-width: 1600px;
  background-color: #FFFFFF;
  /*  padding: 0 2rem 2.75rem  2rem ;
  */
}
main section.lastNews a#toutVoir {
  color: white;
  padding: 1rem 2rem;
  background-color: #34A58A;
  border-radius: 5px;
}
main section.lastNews div:first-child {
  /* padding-top: 2.75rem; */
}
main section.lastNews div.articleTitle {
  padding: 2.75rem 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section.lastNews div.allArticle {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem 4.25rem 2rem;
}
main section.lastNews div.allArticle div {
  display: flex;
  flex-direction: row;
}
main section.lastNews div.allArticle div img {
  width: 330px;
  height: 300px;
  /* margin: 3rem 2rem 4 2rem; */
}
main section.lastNews div.allArticle div.article {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
main section.lastNews div.allArticle article {
  max-width: 400px;
}
main section.lastNews div.allArticle article p {
  background: linear-gradient(0deg, #FFFFFF 49.33%, rgba(255, 255, 255, 0) 100%);
  margin: 1.75rem 2.5rem 0 0.75rem;
}
main section.lastNews div.allArticle article h3 {
  margin-left: 0.75rem;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: left;
}
main section.lastNews div.allArticle article .date {
  color: #345765;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #345765;
  color: white;
}
footer div {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 125px;
  justify-content: space-evenly;
}
footer img {
  width: 150px;
  height: 115px;
}

/*# sourceMappingURL=style.css.map */
