/* Tableau de contenu  */
/*                     */
/*       Global        */
/*  header & navbar    */
/*        main         */
/*        footer       */
/*                     */
/*      mediaqueries   */
/*        1320px        */
/*        900px        */
/*        675px        */


/* global */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
}

/*  header & navbar    */
header {
  width: 100%;
  background-color: #345765;
}
header nav {
  max-width: 1400px;
  margin: 0 auto;
  /* display: flex; */
}
header nav div.burgerMenuContainer {
  display: none;
}
header ul {
  display: flex;
  list-style: none;
  /* margin-right: 8rem; */
  margin: 0;
  flex-direction: row;
  justify-content: flex-end;
}
header li a {
  color: white;
  text-decoration: none;
  padding: 2.5rem 1.25rem;
  display: block;
}
header li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  background-color: #3e6575;
}

/*        main         */
main {
  padding: 0 1rem;
  /* align-items: center;
  display: flex;
  flex-direction: column; */
  margin: 0 auto;
}
main img {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: 560px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 7rem;
}
main h1 {
  max-width: 1400px;
  color: #34A58A;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 7rem auto 3.5rem auto;
  text-transform: uppercase;
}
main div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
main h2 {
  margin: 4.125rem 0 2rem 0;
  color: #6B5B54;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
}
main .mapContainer {
  overflow: hidden;
  border: 5px solid white;
  width: 600px;
  border-radius: 10px;
  height: auto;
  padding: 7rem 0;
}
main .mapContainer iframe {
  margin-bottom: 10rem;
  height: 600px;
  width: 100%;
  margin-top: -150px;
  margin-bottom: -200px;
}
main div.coords {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
}
main div.coords div {
  display: flex;
  flex-direction: column;
}
main div.coords section.presentation {
  width: 100%;
}
main div.coords section.presentation p {
  /*  max-width: 760px; */
  font-family: "lato";
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-justify: auto;
  margin-right: 5.75rem;
}
main address {
  margin-bottom: 11.25rem;
}
main address p {
  margin: 1.25rem 0;
}
main address a {
  color: #34A58A;
  text-decoration: none;
  font-weight: normal;
  font-family: "lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
}
main address span.icons {
  margin-right: 0.75rem;
}
main address div.address {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main section.lastNews {
  margin: 0 auto;
  max-width: 1600px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 0 2rem 0 2rem;
}
main section.lastNews a#toutVoir {
  color: white;
  padding: 1rem 2rem;
  background-color: #34A58A;
  border-radius: 5px;
  text-decoration: none;
  position: static;
}
main section.lastNews div.articleTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
main section.lastNews h2 {
  margin: 3rem 0;
}
main section.lastNews div.allArticle {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 100%;
  /* flex-wrap: ; */
  justify-content: space-between;
  flex-direction: row;
}
main section.lastNews div.allArticle div {
  width: 100%;
  display: flex;
}
main section.lastNews div.allArticle div img {
  width: 330px;
  height: 300px;
  margin: 3rem 2rem 4 2rem;
}
main section.lastNews div.allArticle div.article {
  margin-bottom: 4rem;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
main section.lastNews div.allArticle img {
  margin: 0 0.75rem 0;
  max-width: 337px;
  height: 300px;
  z-index: 1;
}
main section.lastNews div.allArticle p {
  /* margin: 1.75rem 2.5rem 0 0.75rem; */
  font-family: "lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  max-height: 4rem;
  overflow: hidden;
  position: relative;
}
main section.lastNews div.allArticle span.enSavoirPlus {
  background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
  display: inline-block;
  width: 100%;
  padding-top: 6rem;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
main section.lastNews div.allArticle span.enSavoirPlus a {
  display: block;
}
main section.lastNews div.allArticle article {
  position: relative;
  display: flex;
  height: 100%;
  width: calc(50% - 1.25rem);
  margin-bottom: 4rem;
}
main section.lastNews div.allArticle h3 {
  /* margin: 0 0 0 0.75rem; */
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: left;
}
main section.lastNews div.allArticle .date {
  margin-top: 0;
  color: #345765;
}
main section.lastNews a {
  bottom: 0;
  right: 0;
  position: absolute;
  display: block;
  text-decoration: none;
  color: #34A58A;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
main section.lastNews a:first-of-type {
  margin: 1rem 0 1rem 1rem;
}
main section.lastNews span.plus {
  padding: 0.25rem 0.6rem;
  border-radius: 100%;
}
main section.lastNews span.plus:hover {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
}

/*        footer       */
footer {
  margin-top: 4.75rem;
  align-items: center;
  flex-direction: column;
  background-color: #345765;
  color: white;
  width: 100%;
}
footer div {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
footer h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-decoration: underline;
}
footer p {
  color: white;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.06em;
}
footer a {
  color: white;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.06em;
}
footer a:hover {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 3.75rem;
}
footer section:first-of-type a {
  display: flex;
  align-items: center;
}
footer section:first-of-type p {
  display: flex;
  align-items: center;
  text-align: center;
}
footer section:first-of-type span.icons {
  margin-right: 1rem;
}
footer img {
  width: 200px;
}
footer div.madeBy {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid white;
}
footer div.madeBy p {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  position: relative;
}

.icons {
  background-image: url(../../src/img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.vector {
  width: 17px;
  height: 21px;
  background-position: -1px -1px;
}

.vector-1 {
  width: 26px;
  height: 20px;
  background-position: -20px -1px;
}

.vector-2 {
  width: 22px;
  height: 21px;
  background-position: -20px -23px;
}

.vector-3 {
  width: 21px;
  height: 21px;
  background-position: -48px -1px;
}

.vector-4 {
  width: 24px;
  height: 20px;
  background-position: -44px -24px;
}

.vector-5 {
  width: 20px;
  height: 20px;
  background-position: -1px -46px;
}

/*      mediaqueries   */
@media screen and (max-width: 1320px) {
  main h2 {
    text-align: center;
  }
  main div.coords {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 7rem;
  }
  main div.coords div {
    align-items: center;
  }
  main div.coords section.presentation {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  main div.coords address {
    margin-bottom: 1rem;
    text-align: center;
  }
  main div.coords address div.address {
    justify-content: center;
  }
  main div.coords address p {
    justify-content: center;
  }
  main div.coords address a {
    justify-content: center;
  }
  main section.lastNews div.allArticle {
    flex-direction: column;
    align-items: center;
  }
  main section.lastNews div.allArticle article {
    width: 80%;
  }
  main section.lastNews div.allArticle article img {
    margin-right: 1rem;
  }
  footer div {
    text-align: left;
  }
  footer div section {
    margin: 4rem 0;
  }
  footer div h2 {
    margin: 1.5rem 0 1.5rem;
  }
  footer div p {
    margin: 0.5rem 0;
  }
  footer div.madeBy {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 900px) {
  header ul {
    justify-content: space-evenly;
    padding-left: 0;
  }
  body {
    margin: 0;
  }
  main div h1 {
    margin-top: 4rem;
  }
  main div img {
    margin-bottom: 3rem;
  }
  main h2 {
    text-align: center;
  }
  main div.coords {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  main div.coords div {
    align-items: center;
  }
  main div.coords section.presentation {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  main div.coords section.presentation p {
    margin-right: 0;
  }
  main section.lastNews div.allArticle {
    flex-direction: column;
    align-items: center;
  }
  main section.lastNews div.allArticle h3 {
    text-align: center;
  }
  main section.lastNews article {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  main section.lastNews div {
    align-items: center;
  }
  main section.lastNews div.articleTitle {
    flex-direction: column;
  }
  main section.lastNews a#toutVoir {
    margin: 0 0 4rem;
    width: fit-content;
  }
  footer div {
    flex-direction: column;
    align-items: center;
  }
  footer div section {
    align-items: center;
    margin: 3rem 0;
  }
  footer div section:first-of-type {
    margin-top: 3rem;
  }
  footer div section:last-of-type {
    margin-bottom: 3rem;
    flex-direction: row;
  }
  footer div footer section {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 675px) {
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  header nav li {
    display: none;
  }
  header nav div.burgerMenuContainer {
    display: block;
    height: 80px;
    width: 65px;
    position: relative;
    margin-right: 1rem;
    padding: 0.5rem 0;
  }
  header nav div.burgerMenuContainer span.burgerMenu {
    position: absolute;
    transform: translateY(-50%);
    display: block;
    top: 50%;
    height: 5px;
    background-color: white;
    width: 100%;
    border-radius: 15px;
  }
  header nav div.burgerMenuContainer span.burgerMenu::before {
    content: "";
    height: 5px;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    position: absolute;
    top: -15px;
  }
  header nav div.burgerMenuContainer span.burgerMenu::after {
    content: "";
    height: 5px;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    top: 15px;
  }
  main h1, main h2, main p, main a {
    text-align: center;
  }
  main h1 {
    width: auto;
  }
  main div h1 {
    text-align: center;
  }
  main div img {
    max-height: 600px;
    height: 100%;
  }
  main address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main address p {
    width: fit-content;
  }
  main div.mapContainer {
    width: fit-content;
    height: 100%;
  }
  main div.mapContainer iframe {
    max-height: 600px;
    width: 100%;
  }
  main section.lastNews div.articleTitle {
    flex-direction: column;
  }
  main section.lastNews a#toutVoir {
    margin: 0 0 4rem;
    width: fit-content;
  }
  main section.map {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
