

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
}

header{
    width: 100%;
    background-color: #345765;
    nav{
        max-width: 1400px;
        margin: 0 auto;
        /* display: flex; */
        flex-direction: row-reverse;
        


    }

    ul{
    display: flex;
    list-style: none;
    /* margin-right: 8rem; */
    margin: 0;
    flex-direction: row-reverse;

    }


    li{



        
        
        
        a{
            color: white;
            text-decoration: none;
            padding: 2.5rem 1.25rem;
            display: block;

        }
    }

    
    
}
main{
    padding: 0 1rem;
    /* align-items: center;
    display: flex;
    flex-direction: column; */
    margin: 0 auto;
    
    h1{
        max-width: 1400px;
        color: #34A58A;
        font-family: 'Montserrat';
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.06em;
        text-align: left;
        margin: 7rem 0 3.5rem 0;
        text-transform: uppercase;
    
    }
    
    div{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        
    }
    
    img{
        max-width: 1400px;
        width: 100%;
        height: 560px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 7rem;
    }


    h2{
        margin: 4.125rem 0 2rem 0;
        color: #6B5B54;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    }



    iframe{
        max-width: 550px;
        border-radius: 10px;
        border: 5px solid white;
        stroke: solid;
    margin-bottom: 10rem;
    }



    div.coords{
        max-width: 1400px;
        display: flex;
        flex-direction: row;


        
        
        div{
            display: flex;
            flex-direction: column;
        }
        
        
        section.presentation{
            width: 100%;
            p{
               /*  max-width: 760px; */
                font-family: 'lato';
                font-weight: 300;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.05em;
                text-justify: auto;
                margin-right: 5.75rem;
            }
        }
    }


    address{
        

        p{
            margin: 1.25rem 0;

        }

        a{ 
            color: #34A58A;
            text-decoration: none;
            font-weight: normal;
            font-family: 'lato';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;

            
        }
    }

    section.lastNews{
        margin: 0 auto;
        max-width: 1600px;
        background-color: #FFFFFF;
        padding: 0 2rem 2.75rem  2rem ;




        a#toutVoir{
            color: white;
            padding: 1rem 2rem;
            background-color: #34A58A;
            border-radius: 5px;
        }


        div.articleTitle{
            padding: 2.75rem 0 0 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
        }
        
        
        div.allArticle{
            display: flex  ;
            flex-direction: column;
            padding: 3rem 0 4.25rem 0;
            margin: 0;
            max-width: 100%;
            flex-wrap: ;
            
            
            div{
                /* width: 100%; */
                display: flex;
                flex-direction: row;
                max-width: 100%;
                img{
                    width: 330px;
                    height: 300px;
                    margin: 3rem 2rem 4 2rem;
                }
            }

            div.article{
                margin-bottom: 4rem;
                align-items: flex-start ;
                display: flex;
                flex-direction: row;


                img{
                    margin-bottom: 0;
                }

                
                
            }
            
            article{
                position: relative;
                display: flex;
                flex-direction: column;
                height: 100%;
                max-width: 450px;
                
                
                p{
                    margin: 1.75rem 2.5rem 0 0.75rem;
                    font-family: 'lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.04em;
                    
                    
                    &::before {
                        content:'';
                        width:100%;
                        height:100%;    
                        position:absolute;
                        left:0;
                        top:0;
                    }
                }
                
                h3{
                    margin: 0 0 0 0.75rem;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                    letter-spacing: 0.06em;
                    text-align: left;
                    
                }
                
                .date{
                    margin-top: 0;
                    color: #345765;
                }

                
            }
            
            /* span.savoirPlus{
                flex-direction: row-reverse;
                align-content: space-between;
                display: block;
                align-items: center;
                position: relative;
                display: block;
                top: 0;
                right: 0;
                background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%); */
                

                a{
                    
                    bottom: 0;
                    right: 0;
                    position: absolute;
                    display: block;
                    text-decoration: none;
                    color: #34A58A;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;

                    &:first-of-type{
                        margin: 1rem 0 1rem 1rem;


                    }


                    
                }
                span{

                    padding: 0.25rem 0.60rem;
                    border-radius: 100%;
                    
                    &:hover{
                        box-shadow: 0px 2px 8px 0px #00000040;

                    }
                }


            

        }
    }





}

footer{
    align-items: center;
    flex-direction: column;
    background-color: #345765;
    color: white;
    width: 100%;
    
    
    div{
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    h2{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.06em;
        text-decoration: underline;

    }

    p{
        color: white;
        text-decoration: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.06em;
    }

    a{
        color: white;
        text-decoration: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.06em;

        &:hover{
            text-decoration: underline;
            text-underline-offset: 0.4rem;
        }
    }

    
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }



    img{
        width: 200px;
        
    }


    div.madeBy{
        display: flex;
        justify-content: center;
        width: 100%;
        border-top: 1px solid white;
        
        
        
        p{
            text-align: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 25px;
            position: relative;

        }


        
        
    }
}





@media screen and (max-width:768px) {

    
}